@font-face {
    font-family: 'lato';
    src: url('../assets/fonts/lato/Lato-regular.ttf');
    font-weight: normal;
    font-style: normal;
}


html{
	scrollbar-width: none;
	scroll-behavior: smooth;
}
body{
	max-width: 100vw;
	margin:0px;
	padding:0px;
	font-family: 'lato';
}


.desactiva_scroll{
	overflow:hidden;
	height: 100%;
}

.activa_scroll{
	overflow:auto;
	height: auto;
}

.contenedor{
	display:flex;
	flex-wrap:wrap;
	border-radius: 20px;

}


header{
	width: 60%;
	height: 40px;
	padding:20px 40px;
	position:sticky;
	float:left;
	top:10px;
	left:20%;
	display:flex;
	justify-content: space-between;
	background-color:rgba(0,0,0,0.2);
	border-radius: 20px;
	align-items: center;
}


#cont-logo{
	margin-right:50px;
}


#cont-logo svg{
	min-width: 90px;
}


header svg .cls-1, #logo-portada svg .cls-1{
	fill:white;

}

nav{	
	width:80%;
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
}

nav a{
	margin-left:auto;
	font-size:clamp(14px, 1.2rem, 24px);
	color:white;
	text-decoration:none;
}

section{
	width: 100vw;
	min-height: 100vh;
	margin:0px;
	padding-top:80px;
}


#portada{
	background-color:black;
	background-image:url("../assets/img/retina.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size:50%;	
}

#logo-portada{
	width:50%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.cont-descripcion-seccion{
	height: 30%;
	width: 80%;
	margin:auto;
	font-size:clamp(24px, 3rem, 5vw);
	font-weight: bold;
	text-align:center;
	margin:50px auto;
}


#portfolio{
	background-color:white;
}


#cont-descripcion-portfolio{
	width: 80%;
	height: fit-content;
	margin:auto;
	align-content: space-evenly;
}


#cont-portada-portfolio{
	max-width: 80%;
	height: 50vh;
	margin:auto;
	flex-wrap: wrap;
}

#cont-titulo-portfolio{
	flex-direction:column;
	align-items: center;
	justify-content: center;
	overflow:hidden;
	width:40%;
}

#titulo-portfolio-1 svg .cls-1{
	fill:none;
	stroke-width: 0.2px;
	stroke:black;
}

#titulo-portfolio-2 svg .cls-1{
	stroke-width: 2px;
	stroke:black;
}

#titulo-portfolio-3 svg .cls-1{
	stroke-width: 2px;
	fill:black;
}

 .titulo-portfolio{
 	width: 85%;
   max-height: 30%;
 	margin:0px;
 }

 #img-portada-portfolio{
 	background-image:url("../assets/img/img-portada-portfolio.png");
 	background-size:cover;
 	background-position:center;
 	background-repeat: no-repeat;
	width:60%;
	height: 100%;
 }

#cont-galeria-portfolio{
	width: 80%;
	height: 50vh;
	flex-direction: column;
	margin:40px auto;
	background-color:white;
	align-content: center;
   justify-content: space-around;
}

.cont-item-galeria-portfolio{
	margin:10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#cont-item-galeria-portfolio-1{
	width: 15%;
	height: 100%;
	background-image: url("../assets/img/armonica.jpg");
}

#cont-item-galeria-portfolio-2{
	width: 12%;
	aspect-ratio: 0.7;
	background-image: url("../assets/img/callejon_caverna.jpg");
}


#cont-item-galeria-portfolio-3{
	width: 12%;
	aspect-ratio: 1.5;
	background-image: url("../assets/img/callejon01.jpg");
}


#cont-item-galeria-portfolio-4{
	width: 15%;
	aspect-ratio: 1;
	background-image: url("../assets/img/golden-colored-saxophone-close-up.jpg");
}


#cont-item-galeria-portfolio-5{
	width: 10%;
	aspect-ratio: 1;
	background-image: url("../assets/img/guitar-gc0b16c86f_1920.jpg");
}

#cont-item-galeria-portfolio-6{
	width: 20%;
	height: 100%;
	background-image: url("../assets/img/tunel_urban.jpg");
}


#servicios{
	background-color:black;
}

#cont-desplegables-servicios{
	color:white;
}

#banner-servicios{
	position:relative;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	left:0%;
}

.cont-titulo-servicios{
	min-width: 100vw;
	height: 90px;
	position:relative;
}

.titulo-servicios{
	height: 100%;
	width: 33vw;	
	margin:auto;
}

.titulo-servicios svg .cls-1{
	height:100%;
}

#titulo-servicios-1 svg .cls-1{
	stroke-width: 2px;
}

#titulo-servicios-2 svg .cls-1{
	stroke-width: 0.5px;
}

#titulo-servicios-3 svg .cls-1{
	fill: white;
}

#cont-descripcion-servicios p{
	color:white;
	font-size:clamp(24px, 2.5rem, 2vw);
}

.desplegable-servicios{
	width: 80%;
	height: fit-content;
	margin:auto;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
}

.desplegable-servicios span{
	cursor:pointer;
}

.desplegable-servicios hr{
	width: 100%;
	height: 2px;
	background-color: white;
}

.desplegable-servicios h4{
	display:inline-block;
	font-size:clamp(18px, 2.5rem, 3vw);
	margin-left: 20px;
}

.controlador-desplegable-servicios{
	display:inline-block;
	font-size:clamp(24px, 3rem, 5vw);
	margin-right: 20px;
	transition:ease-in-out 0.5s;
}

.cont-desplegado {
	flex-direction: row;	
	height: 25vh;
	width: 90%;
	justify-content: space-around;
	align-items: center;
	padding:20px 0px;
	margin-top:-50%;
	visibility: hidden;
	opacity: 0;
}

.img-desplegable{
	width: 30%;
	height: 100%;
	display:inline-block;
	border:dotted 1px white;
}

.cont-descripcion-desplegable{
	width: 50%;
}

.descripcion-desplegable{
	font-size:clamp(18px, 1.5rem, 1.2vw);
	text-align: center;
}

#desplegado-aspl{
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: fit-content;
}

#desplegado-aspl h5{
	font-size:clamp(14px, 1.2rem, 2vw);
	margin:0px;
}


#desplegado-aspl .cont-descripcion-desplegable{
	width: 90%;
	margin:15px 0px;
}


#desplegado-aspl .descripcion-desplegable{
	margin:0px;
}


#capacitaciones{
	background-image: linear-gradient(to right, white ,white,  grey, black, black,  black);
	/*background-image: url("../assets/img/armonica.jpg");*/
	display:flex;
	flex-direction:row;
	height: 100vh;
	width: 100vw;
}

#cont-capacitaciones{
	width: 80%;
	height: 90%;
	justify-content: space-between;
	margin:auto;
}

#img-capacitaciones{
	width: 30%;
	height: 50%;
	border:dashed 1px black;
}

#cont-descripcion-capacitaciones{
	width: 60%;
	color:white;
	margin:0px;
}

#titulo-descripcion-capacitaciones{
	width: 50%;
	margin:auto auto 80px auto;
	text-align: right;
}

#descripcion-capacitaciones{
	margin:0px;
	font-size:clamp(14px, 2rem, 2.5vw);
	mix-blend-mode: exclusion;
}






