@font-face {
    font-family: 'lato';
    src: url('../../mowo_web_v2/assets/fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


html{
	scrollbar-width: none;
	scroll-behavior: smooth;
	cursor: none;
	max-width: 100vw;
}
body{
	max-width: 100vw;
	margin:0px;
	padding:0px;
	font-family: 'lato';
}


#sigue-cursor{
	 position: fixed;
    width: 30px;
    height: 30px;
    background-color:white;
    mix-blend-mode: difference;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    z-index: 5; 
}


.desactiva_scroll{
	overflow:hidden;
	/*height: 100vh;*/
}

.activa_scroll{
	overflow:auto;
	height: auto;
}

.contenedor{
	display:flex;
	flex-wrap:wrap;
	border-radius: 20px;

}


header{
	width: 60%;
	height: 40px;
	padding:10px 40px;
	position:sticky;
	top:10px;
	left:20%;
	display:flex;
	justify-content: space-between;
	background-color: rgba(255,255,255,0.8);
	border-radius: 20px;
	align-items: center;
	z-index: 3;
}
/*
header::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: difference;
}
*/

#cont-logo{
	margin-right:50px;
	z-index: 4;
}

#cont-logo a{
	cursor: none;
}


#cont-logo svg{
	min-width: 120px;
}


header svg .cls-1{
	fill:black;

}

#logo-portada svg .cls-1{
	fill:white;
}

nav{
	width:80%;
	display:flex;
	justify-content:space-between;
	flex-wrap: wrap;
}

nav a{
	isolation: isolate;
	margin-left:auto;
	font-size:clamp(20px, 1.5rem, 15vw);
	font-weight: bolder;
	text-decoration:none;
	cursor:none;
	color: black;
}

section{
	width: 100vw;
	min-height: 100vh;
	padding:90px 0px;
	padding-top:100px;
}


#portada{
	position:relative;
	background-color:black;
	background-image:url("../assets/img/retina.png");
	background-position: center;
	background-repeat:no-repeat;
	background-size:50%;
	margin-top: -90px;
	overflow: hidden;
}

#logo-portada{
	width:50%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
}

.cont-descripcion-seccion{
	height: 30%;
	width: 80%;
	margin:auto;
	font-size:clamp(24px, 3rem, 5vw);
	font-weight: bold;
	text-align:center;
	margin:50px auto;
}


#portfolio{
	background-color:white;
}


#cont-descripcion-portfolio{
	width: 80%;
	height: fit-content;
	margin:auto;
	align-content: space-evenly;
}


#cont-portada-portfolio{
	max-width: 80%;
	height: 50vh;
	margin:auto;
	flex-wrap: wrap;
}

#cont-titulo-portfolio{
	flex-direction:column;
	align-items: center;
	justify-content: center;
	overflow:hidden;
	width:40%;
}

#titulo-portfolio-1 svg .cls-1{
	fill:none;
	stroke-width: 0.2px;
	stroke:black;
}

#titulo-portfolio-2 svg .cls-1{
	stroke-width: 2px;
	stroke:black;
}

#titulo-portfolio-3 svg .cls-1{
	stroke-width: 2px;
	fill:black;
}

 .titulo-portfolio{
 	width: 85%;
   max-height: 30%;
 	margin:0px;
 }

 #img-portada-portfolio{
 	background-image:url("../assets/img/img-portada-portfolio.png");
 	background-size:cover;
 	background-position:center;
 	background-repeat: no-repeat;
	width:60%;
	height: 100%;
 }

#cont-galeria-portfolio{
	width: 80%;
	height: 50vh;
	flex-direction: column;
	margin:40px auto;
	background-color:white;
	align-content: center;
  justify-content: space-around;
}

.cont-item-galeria-portfolio{
	margin:10px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#cont-item-galeria-portfolio-1{
	width: 15%;
	height: 100%;
	background-image: url("../assets/img/armonica.jpg");
}

#cont-item-galeria-portfolio-2{
	width: 12%;
	aspect-ratio: 0.7;
	background-image: url("../assets/img/callejon_caverna.jpg");
}


#cont-item-galeria-portfolio-3{
	width: 12%;
	aspect-ratio: 1.5;
	background-image: url("../assets/img/callejon01.jpg");
}


#cont-item-galeria-portfolio-4{
	width: 15%;
	aspect-ratio: 1;
	background-image: url("../assets/img/golden-colored-saxophone-close-up.jpg");
}


#cont-item-galeria-portfolio-5{
	width: 10%;
	aspect-ratio: 1;
	background-image: url("../assets/img/guitar-gc0b16c86f_1920.jpg");
}

#cont-item-galeria-portfolio-6{
	width: 20%;
	height: 100%;
	background-image: url("../assets/img/tunel_urban.jpg");
}


#servicios{
	background-color:black;
}

#cont-desplegables-servicios{
	color:white;
}

#banner-servicios{
	position:relative;
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	left:0%;
	overflow: hidden;
	align-items: center;
}

.cont-titulo-servicios{
	min-width: 100vw;
	min-height: 90px;
	position:relative;
}

.titulo-servicios{
	height: 100%;
	width: 33vw;	
	margin:0px;
}

.titulo-servicios svg .cls-1{
	height:100%;
}

#titulo-servicios-1 svg .cls-1{
	stroke-width: 2px;
}

#titulo-servicios-2 svg .cls-1{
	stroke-width: 0.5px;
}

#titulo-servicios-3 svg .cls-1{
	fill: white;
}

#cont-descripcion-servicios p{
	color:white;
	font-size:clamp(24px, 2.5rem, 2vw);
}

.desplegable-servicios{
	width: 80%;
	height: fit-content;
	margin:auto;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
}

/*.desplegable-servicios span{
	cursor:pointer;
}*/

.desplegable-servicios hr{
	width: 100%;
	height: 2px;
	background-color: white;
}

.desplegable-servicios h4{
	display:inline-block;
	/*font-size:clamp(18px, 2.5rem, 3vw);*/
	margin:10px 20px;
}

.controlador-desplegable-servicios{
	width: 100%;
	font-size:clamp(24px, 2.5rem, 5vw);
	margin-top:20px;
	/*cursor:pointer;*/
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.controlador-desplegable-servicios span{

	transition:ease-in-out 0.5s;
}

.cont-desplegado {
	flex-direction: row;	
	height: 25vh;
	width: 90%;
	justify-content: space-around;
	align-items: center;
	padding:20px 0px;
	margin-top:-150%;
	visibility: hidden;
	opacity: 0;
}

.img-desplegable{
	width: 30%;
	aspect-ratio: 1;
	display:inline-block;
	border:dotted 1px white;
}

.cont-descripcion-desplegable{
	width: 50%;
}

.descripcion-desplegable{
	font-size:clamp(18px, 1.5rem, 1.2vw);
	text-align: center;
}

#desplegado-aspl{
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: fit-content;
}

#desplegado-aspl h5{
	font-size:clamp(14px, 1.2rem, 2vw);
	margin:0px;
}


#desplegado-aspl .cont-descripcion-desplegable{
	width: 90%;
	margin:15px 0px;
}


#desplegado-aspl .descripcion-desplegable{
	margin:0px;
}


#capacitaciones{
	background-image: linear-gradient(to bottom, white ,white,  grey, black, black,  black);
	/*background-image: url("../assets/img/armonica.jpg");*/
	display:flex;
	flex-direction:row;
	height: 100vh;
	width: 100vw;
}

#cont-capacitaciones{
	width: 80%;
	height: 90%;
	justify-content: space-between;
	margin:auto;
}

#img-capacitaciones{
	width: 30%;
	height: 50%;
	border:dashed 1px black;
}

#cont-descripcion-capacitaciones{
	width: 60%;
	margin:0px;
}

#titulo-descripcion-capacitaciones{
	width: 50%;
	margin:auto auto 80px auto;
	text-align: right;
	color:;
}

#descripcion-capacitaciones{
	margin:0px;
	font-size:clamp(24px, 2rem, 2.5vw);
	color:white;
	mix-blend-mode: difference;
}

#nosotros{
	background-color:white;

}

#cont-nosotros{
	width: 90%;
	margin:auto;
}


#titulo-nosotros{
	flex-direction:column;	
	width: 100%;
}


#titulo-nosotros p:nth-child(1), #titulo-nosotros p:nth-child(2){
	font-size: clamp(50px, 4em, 15vw);
	margin:0px;
	font-weight: bolder;

}

#titulo-nosotros p:nth-child(3){	
	font-size: clamp(25px, 2.5em, 5vw);
	margin:20px 0px;
	font-weight: bolder;

}

#img-nosotros{
	width: 100%;
	max-height: 30%;
	margin:30px 0px;
}

#cont-logo-nosotros{
	width: 50%;
	height: 50%;
}

#cont-logo-nosotros img{
	width: 200px;
	height: 200px;
	margin:0px;
}

#cont-redes-nosotros{
	width: 50%;
	max-height:30% ;
	flex-direction: row;
	flex-wrap: nowrap;
}

.cont-img-redes-nosotros{
	width: 150px;
	height: 200px;
	border:solid 0.5px lightgrey;
	border-radius: 0px;
	justify-content: center;
	align-items: center;
}

.cont-img-redes-nosotros img{
	width: 30%;	
	margin:0px;
}


#cont-detalle-nosotros{
	flex-direction:column;
}

#cont-detalle-nosotros p{
	font-size: clamp(20px, 1.5em, 3vw);
	font-weight: bolder;
	margin:2px;
}


@media(max-width: 1023px){

	/*#sigue-cursor{
		display:none;
	}*/

	nav{
		position:absolute;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		width: 100%;
		height: 80vh;
		top:80px;
		background-color: white;
		transition: ease-in-out 0.5s;
		border-radius: 0px 0px 20px 20px;
		box-shadow: 0px 0px 15px black;
		display: none;
		opacity: 0;
	}

	nav a{
		font-size: 40px;
		color:black;
		margin:auto;
	}


	nav a::after {
		content:"";
		display: block;
		width: 100%;
		height: 2px;
		background-color: black;
		margin-top: 35px;

	}

	header{
		margin:auto;
		width: 100vw;
		top:0;
		padding:10px 0px;
		border-radius: 0px;
		mix-blend-mode: unset;
		background-color: white;
	}

	#portada{
		background-size: 100%;
	}

#logo-portada{
		width:90%;
}

	#cont-logo{
		margin:10px;
	}
	
	#controlador-nav-mobile {
		display: inline-block;
		width: 90%;
		height: 100%;
		margin-left: auto;
	}


	#titulo-portfolio-1, #titulo-portfolio-3{
		display:none;
	}

	#cont-titulo-portfolio{
		width: 100%;
		height: fit-content;
		flex-direction: row;
		flex-wrap: nowrap;

	}

	.titulo-portfolio svg{
		height: 100%; 	
 	}


	#titulo-portfolio-1, #titulo-portfolio-3{
		display:none;
	}

	 #img-portada-portfolio{
	 	width: 100%;
	 	height: 80%;
	 }

	#cont-galeria-portfolio{
		margin:auto;
		flex-direction: row;
		flex-wrap: wrap;
		height: fit-content;
	}

	.cont-item-galeria-portfolio{
		width: 100% !important;
		margin:0px;
		border-radius: 0px;

	}


	#servicios{
		/*height: fit-content;*/
	}

	.cont-titulo-servicios:nth-of-type(2){
		display: none;
	}

	.cont-titulo-servicios{
		height:90px;
	}

	.titulo-servicios svg{
		height: 80%;
	}

	.titulo-servicios:nth-of-type(2), .titulo-servicios:nth-of-type(3){
		display: none;
	}


	.desplegable-servicios{
		width: 90%;
		height: fit-content;
		margin:auto;
		justify-content: center;
	}

	.controlador-desplegable-servicios{
		margin:0px;
	}

	.cont-descripcion-desplegable {
		width: 90%;
	}

	.cont-desplegado{
		flex-direction: column;
		height: 5%;
	}


	#capacitaciones{

		background-image: linear-gradient(to bottom, white ,white,  grey, black, black,  black);
		height: fit-content;

	}

	#cont-capacitaciones{
		flex-direction: column-reverse;
		width: 90%;
	}

	#img-capacitaciones{
		width: 100%;
		aspect-ratio: 1;
		border: dashed 2px grey;
	}

	#cont-descripcion-capacitaciones{
		width: 100%;
	}

	#cont-descripcion-capacitaciones p{
		margin-top:50px;
	}


	#titulo-descripcion-capacitaciones {
		width: 100%;
		text-align: center;
		margin:auto;
		font-size: 48px;
		color:black;

	}

	#img-nosotros{
		flex-direction: column;
		align-items: center;
	}

	#cont-logo-nosotros{
		width: 180px;
		height: 180px;
	}

	#cont-logo-nosotros img{
		width: 100%;
		height: 100%;
	}

	#cont-redes-nosotros{
		width: 90%;
		margin-top:50px;
		justify-content: space-around;
		align-items: center;
	}

	.cont-img-redes-nosotros {
		width: 80px;
		height: 80px;
	}
	
	#cont-detalle-nosotros p{
		margin: 5px 0px;
		text-align: justify;
	}


}








